img {
    max-height: 250px;
    max-width: 100%;
}


h1 {
    text-align: center;
}

.a {
    background-color: aqua;
}

.container {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap:  5px 10px;
}

.samePageLinks {
    font-weight: bold;
    display: grid;
    justify-content: space-around;
}