table{
    border: 1px solid black;
    width: 100%;
    table-layout: auto;
    justify-content: space-evenly;
}

.a {
    background-color: aqua;
}

img {
    height: 250px;
}

h1 {
    text-align: center;
}